// Main SCSS fie No direct CSS to be put in here only @imports //
// Base //

body {
  width: 100%;
  height: 100%;
  margin: 0px;
  
  font-family: "Asap","Helvetica Neue",Helvetica,Arial,sans-serif;

}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas,'Courier New',
    monospace;
}